/.bundle/
/.yardoc
/.ruby-version
/Gemfile.lock
/gems
/_yardoc/
/coverage/
.coverage
/doc/
/pkg/
/spec/*
!/spec/seed_models
!/spec/tests
!/spec/spec_helper.rb
/test/
/lib/measures/test_results
/lib/measures/.rubocop*
/lib/measures/staged
/lib/measures/staged/*

# rspec failure tracking
.rspec_status

# Ignore IDE files
*.idea/
/.idea/
*.rubocop-http*

# measures tests
lib/measures/.rubocop.yml
lib/measures/test_results/*
lib/measures/*/tests/output
lib/measures/*/tests/baseline

# runner conf
runner.conf

# built gem file
*.gem

.DS_Store
